---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens?bank_account%5Baccount_holder_name%5D=Jim%20Smith&bank_account%5Baccount_holder_type%5D=individual&bank_account%5Baccount_number%5D=000123456789&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=usd&bank_account%5Brouting_number%5D=110000000
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ece2abff-6874-4334-b8b8-3be4bc231b07
      Original-Request:
      - req_z2QW2hPuwrHFmt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "btok_1K6dm6AWOtgoysogPFt9eox2",
          "object": "token",
          "bank_account": {
            "id": "ba_1K6dm6AWOtgoysog9FwsCxTB",
            "object": "bank_account",
            "account_holder_name": "Jim Smith",
            "account_holder_type": "individual",
            "account_type": null,
            "bank_name": "STRIPE TEST BANK",
            "country": "US",
            "currency": "usd",
            "fingerprint": "uCkXlMFxqys7GosR",
            "last4": "6789",
            "routing_number": "110000000",
            "status": "new"
          },
          "client_ip": "181.51.32.190",
          "created": 1639498966,
          "livemode": false,
          "type": "bank_account",
          "used": false
        }
  recorded_at: Tue, 14 Dec 2021 16:22:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=ActiveMerchant+Test+Purchase&email=wow%40example.com&expand[0]=sources&source=btok_1K6dm6AWOtgoysogPFt9eox2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b7cb0f37-abfb-4dac-a904-21981bd112ca
      Original-Request:
      - req_W1k5wsBCMVo21Y
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_KmCAxKSeJFphfv",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1639498966,
          "currency": null,
          "default_source": "ba_1K6dm6AWOtgoysog9FwsCxTB",
          "delinquent": false,
          "description": "ActiveMerchant Test Purchase",
          "discount": null,
          "email": "wow@example.com",
          "invoice_prefix": "59C01186",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "ba_1K6dm6AWOtgoysog9FwsCxTB",
                "object": "bank_account",
                "account_holder_name": "Jim Smith",
                "account_holder_type": "individual",
                "account_type": null,
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "customer": "cus_KmCAxKSeJFphfv",
                "fingerprint": "uCkXlMFxqys7GosR",
                "last4": "6789",
                "metadata": {
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_KmCAxKSeJFphfv/sources"
          },
          "tax_exempt": "none"
        }
  recorded_at: Tue, 14 Dec 2021 16:22:47 GMT
recorded_with: VCR 6.0.0
