---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card[swipe_data]=[FILTERED]&amount=100&currency=usd&description=ActiveMerchant+Test+Purchase&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.124.0&metadata[email]=wow%40example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7559e29f-6b2a-4cae-84f0-dbcb10280aee
      Original-Request:
      - req_PfhyDRhdlyfABX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3K6dl1AWOtgoysog0nPk7ofJ",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3K6dl1AWOtgoysog0zIfIWix",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "LONGSON/LONGBOB",
            "phone": null
          },
          "calculated_statement_descriptor": "SPREEDLY",
          "captured": true,
          "created": 1639498899,
          "currency": "usd",
          "customer": null,
          "description": "ActiveMerchant Test Purchase",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
            "email": "wow@example.com"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 9,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1K6dl1AWOtgoysogoOzJPyQy",
          "payment_method_details": {
            "card": {
              "brand": "amex",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": null
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 5,
              "exp_year": 2022,
              "fingerprint": "DjZpoV89lmOMsJLF",
              "funding": "credit",
              "installments": null,
              "last4": "0005",
              "mandate": null,
              "moto": null,
              "network": "amex",
              "network_transaction_id": "6810690112111865",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_160DX6AWOtgoysog/ch_3K6dl1AWOtgoysog0nPk7ofJ/rcpt_KmC9e6gL1OTWlEQSDehsdwzDNdGOamo",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_3K6dl1AWOtgoysog0nPk7ofJ/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1K6dl1AWOtgoysogoOzJPyQy",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "American Express",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2022,
            "fingerprint": "DjZpoV89lmOMsJLF",
            "funding": "credit",
            "last4": "0005",
            "metadata": {
            },
            "name": "LONGSON/LONGBOB",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Dec 2021 16:21:40 GMT
recorded_with: VCR 6.0.0
