---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/active_merchant_fake_charge/refunds
    body:
      encoding: UTF-8
      string: amount=100&expand[0]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '08843a95-0137-437a-ad58-f52cde372e86'
      Original-Request:
      - req_DtOrTt2EiAisHK
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such charge: 'active_merchant_fake_charge'",
            "param": "id",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 14 Dec 2021 16:23:45 GMT
recorded_with: VCR 6.0.0
