---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: validate=false&expand[0]=sources&card[number]=[FILTERED]&card[exp_month]=9&card[exp_year]=2022&card[cvc]=[FILTERED]&card[name]=Longbob+Longsen
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6cb69cc2-642c-46d9-b564-ef2a22b68962
      Original-Request:
      - req_uBjmiWN86jksjC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_KmCAdynTB7jflP",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1639498973,
          "currency": null,
          "default_source": "card_1K6dmDAWOtgoysogWDMl8bnr",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "B157F194",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1K6dmDAWOtgoysogWDMl8bnr",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_KmCAdynTB7jflP",
                "cvc_check": "unchecked",
                "dynamic_last4": null,
                "exp_month": 9,
                "exp_year": 2022,
                "fingerprint": "hfaVNMiXc0dYSiC5",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": "Longbob Longsen",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_KmCAdynTB7jflP/sources"
          },
          "tax_exempt": "none"
        }
  recorded_at: Tue, 14 Dec 2021 16:22:53 GMT
recorded_with: VCR 6.0.0
