---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card[number]=[FILTERED]&card[exp_month]=16&card[exp_year]=2022&card[cvc]=[FILTERED]&card[name]=Longbob+Longsen&amount=100&currency=usd&description=ActiveMerchant+Test+Purchase&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.124.0&metadata[email]=wow%40example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d9362dd7-6522-49d4-964a-4caacf60d758
      Original-Request:
      - req_PhIpStGwSeZfTU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "invalid_expiry_month",
            "doc_url": "https://stripe.com/docs/error-codes/invalid-expiry-month",
            "message": "Your card's expiration month is invalid.",
            "param": "exp_month",
            "type": "card_error"
          }
        }
  recorded_at: Tue, 14 Dec 2021 16:21:50 GMT
recorded_with: VCR 6.0.0
