---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens?bank_account%5Baccount_holder_name%5D=Jim%20Smith&bank_account%5Baccount_holder_type%5D=individual&bank_account%5Baccount_number%5D=000123456789&bank_account%5Bcountry%5D=US&bank_account%5Bcurrency%5D=usd&bank_account%5Brouting_number%5D=110000000
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - be868d59-e047-499f-a914-6e784d24b1b4
      Original-Request:
      - req_roQX3aUXwhYSGP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "btok_1K6dn0AWOtgoysogBJsVCDn2",
          "object": "token",
          "bank_account": {
            "id": "ba_1K6dn0AWOtgoysog0cfqUZ8s",
            "object": "bank_account",
            "account_holder_name": "Jim Smith",
            "account_holder_type": "individual",
            "account_type": null,
            "bank_name": "STRIPE TEST BANK",
            "country": "US",
            "currency": "usd",
            "fingerprint": "uCkXlMFxqys7GosR",
            "last4": "6789",
            "routing_number": "110000000",
            "status": "new"
          },
          "client_ip": "181.51.32.190",
          "created": 1639499022,
          "livemode": false,
          "type": "bank_account",
          "used": false
        }
  recorded_at: Tue, 14 Dec 2021 16:23:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: expand[0]=sources&source=btok_1K6dn0AWOtgoysogBJsVCDn2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 52545152-764a-430f-b68d-30b3f094169b
      Original-Request:
      - req_b6IJYgUbJThuVK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_KmCBggUGfElJ0K",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1639499022,
          "currency": null,
          "default_source": "ba_1K6dn0AWOtgoysog0cfqUZ8s",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "3BCA1852",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "ba_1K6dn0AWOtgoysog0cfqUZ8s",
                "object": "bank_account",
                "account_holder_name": "Jim Smith",
                "account_holder_type": "individual",
                "account_type": null,
                "bank_name": "STRIPE TEST BANK",
                "country": "US",
                "currency": "usd",
                "customer": "cus_KmCBggUGfElJ0K",
                "fingerprint": "uCkXlMFxqys7GosR",
                "last4": "6789",
                "metadata": {
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_KmCBggUGfElJ0K/sources"
          },
          "tax_exempt": "none"
        }
  recorded_at: Tue, 14 Dec 2021 16:23:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: customer=cus_KmCBggUGfElJ0K&card=ba_1K6dn0AWOtgoysog0cfqUZ8s&amount=100&currency=usd&description=ActiveMerchant+Test+Purchase&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.124.0&metadata[email]=wow%40example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ab7991fc-151c-4415-bb7a-51f16294a589
      Original-Request:
      - req_VxxLiyqeHSnxPr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "bank_account_unverified",
            "doc_url": "https://stripe.com/docs/error-codes/bank-account-unverified",
            "message": "The customer's bank account must be verified in order to create an ACH payment. For more information, see https://stripe.com/docs/guides/ach#manually-collecting-and-verifying-bank-accounts",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 14 Dec 2021 16:23:44 GMT
recorded_with: VCR 6.0.0
