---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card[number]=[FILTERED]&card[exp_month]=9&card[exp_year]=2022&card[cvc]=[FILTERED]&card[name]=Longbob+Longsen&amount=100&currency=usd&description=ActiveMerchant+Test+Purchase&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.124.0&metadata[email]=wow%40example.com&expand[0]=balance_transaction
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8f9ec859-2c00-4f3d-8167-dd5ceaa55a4d
      Original-Request:
      - req_zPkBeD3kMv9AAM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3K6dl6AWOtgoysog3Bdd95aZ",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_3K6dl6AWOtgoysog3pXSUfRc",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1640044800,
            "created": 1639498904,
            "currency": "usd",
            "description": "ActiveMerchant Test Purchase",
            "exchange_rate": null,
            "fee": 33,
            "fee_details": [
              {
                "amount": 33,
                "application": null,
                "currency": "usd",
                "description": "Stripe processing fees",
                "type": "stripe_fee"
              }
            ],
            "net": 67,
            "reporting_category": "charge",
            "source": "ch_3K6dl6AWOtgoysog3Bdd95aZ",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Longbob Longsen",
            "phone": null
          },
          "calculated_statement_descriptor": "SPREEDLY",
          "captured": true,
          "created": 1639498904,
          "currency": "usd",
          "customer": null,
          "description": "ActiveMerchant Test Purchase",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
            "email": "wow@example.com"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 37,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1K6dl6AWOtgoysogHftiUUMJ",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 9,
              "exp_year": 2022,
              "fingerprint": "hfaVNMiXc0dYSiC5",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "moto": null,
              "network": "visa",
              "network_transaction_id": "1041029786787710",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_160DX6AWOtgoysog/ch_3K6dl6AWOtgoysog3Bdd95aZ/rcpt_KmC9zJSVh9SYWDFH45JmARE2NYypqJt",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_3K6dl6AWOtgoysog3Bdd95aZ/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1K6dl6AWOtgoysogHftiUUMJ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2022,
            "fingerprint": "hfaVNMiXc0dYSiC5",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": "Longbob Longsen",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Dec 2021 16:21:45 GMT
recorded_with: VCR 6.0.0
