---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card[number]=[FILTERED]&card[exp_month]=9&card[exp_year]=2022&card[cvc]=[FILTERED]&card[name]=Longbob+Longsen&amount=60&currency=gbp&description=ActiveMerchant+Test+Purchase&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.124.0&metadata[email]=wow%40example.com&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e78f162b-afd5-43a3-8dab-6b18f8257cf1
      Original-Request:
      - req_Iz3V1er4H4OsJk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3K6dmZAWOtgoysog3MJidERF",
          "object": "charge",
          "amount": 60,
          "amount_captured": 0,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": null,
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Longbob Longsen",
            "phone": null
          },
          "calculated_statement_descriptor": "SPREEDLY",
          "captured": false,
          "created": 1639498995,
          "currency": "gbp",
          "customer": null,
          "description": "ActiveMerchant Test Purchase",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
            "email": "wow@example.com"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 56,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1K6dmZAWOtgoysogYk4B5Uwy",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 9,
              "exp_year": 2022,
              "fingerprint": "hfaVNMiXc0dYSiC5",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "moto": null,
              "network": "visa",
              "network_transaction_id": "1041029786787710",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_160DX6AWOtgoysog/ch_3K6dmZAWOtgoysog3MJidERF/rcpt_KmCAo2ZVRnpJC44BLoF0LPugJ2xOaPr",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_3K6dmZAWOtgoysog3MJidERF/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1K6dmZAWOtgoysogYk4B5Uwy",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2022,
            "fingerprint": "hfaVNMiXc0dYSiC5",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": "Longbob Longsen",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Dec 2021 16:23:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_3K6dmZAWOtgoysog3MJidERF/refunds
    body:
      encoding: UTF-8
      string: expand[0]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c8ed1c45-1d2f-4b54-ba60-1c160d1f57b2
      Original-Request:
      - req_A3TiDrZImuLyu1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_3K6dmZAWOtgoysog3Av4ASv9",
          "object": "refund",
          "amount": 60,
          "balance_transaction": null,
          "charge": {
            "id": "ch_3K6dmZAWOtgoysog3MJidERF",
            "object": "charge",
            "amount": 60,
            "amount_captured": 0,
            "amount_refunded": 60,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
            [...]
