---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card[number]=[FILTERED]&card[exp_month]=9&card[exp_year]=2022&card[cvc]=[FILTERED]&card[name]=Longbob+Longsen&amount=100&currency=usd&description=ActiveMerchant+Test+Purchase&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.124.0&metadata[email]=wow%40example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3214e95f-8af6-4dc2-9f08-7f82f9f974b5
      Original-Request:
      - req_Csw3IbaMXT80h4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3K6dm2AWOtgoysog1ktkbvrR",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3K6dm2AWOtgoysog1sZqqq8j",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Longbob Longsen",
            "phone": null
          },
          "calculated_statement_descriptor": "SPREEDLY",
          "captured": true,
          "created": 1639498962,
          "currency": "usd",
          "customer": null,
          "description": "ActiveMerchant Test Purchase",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
            "email": "wow@example.com"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 10,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1K6dm1AWOtgoysog0H8q5ql9",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 9,
              "exp_year": 2022,
              "fingerprint": "hfaVNMiXc0dYSiC5",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "moto": null,
              "network": "visa",
              "network_transaction_id": "1041029786787710",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_160DX6AWOtgoysog/ch_3K6dm2AWOtgoysog1ktkbvrR/rcpt_KmCAzr3kKGycyY1addF914VpXhXZPjr",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_3K6dm2AWOtgoysog1ktkbvrR/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1K6dm1AWOtgoysog0H8q5ql9",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2022,
            "fingerprint": "hfaVNMiXc0dYSiC5",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": "Longbob Longsen",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Dec 2021 16:22:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_3K6dm2AWOtgoysog1ktkbvrR/refunds
    body:
      encoding: UTF-8
      string: amount=80&reason=fraudulent&expand[0]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9bc22c47-8a71-4034-a17a-17708f28346a
      Original-Request:
      - req_VgcdhgHPO16fFc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_3K6dm2AWOtgoysog1ji3R1EG",
          "object": "refund",
          "amount": 80,
          "balance_transaction": "txn_3K6dm2AWOtgoysog13jINwIp",
          "charge": {
            "id": "ch_3K6dm2AWOtgoysog1ktkbvrR",
            "object": "charge",
            "amount": 100,
            "amount_captured": 100,
            "amount_refunded": 80,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "txn_3K6dm2AWOtgoysog1sZqqq8j",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": null,
              "name": "Longbob Longsen",
              "phone": null
            },
            "calculated_statement_descriptor": "SPREEDLY",
            "captured": true,
            "created": 1639498962,
            "currency": "usd",
            "customer": null,
            "description": "ActiveMerchant Test Purchase",
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {
              "user_report": "fraudulent"
            },
            "invoice": null,
            "livemode": false,
            "metadata": {
              "email": "wow@example.com"
            },
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "normal",
              "risk_score": 10,
              "seller_message": "Payment complete.",
              "type": "authorized"
[...]
