---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card[number]=[FILTERED]&card[exp_month]=9&card[exp_year]=2022&card[cvc]=[FILTERED]&card[name]=Longbob+Longsen&amount=100&currency=usd&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.124.0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1K5HlrPT5iqVqrJn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 290f1113-5091-40f0-a693-07fe14c956bd
      Original-Request:
      - req_r2TnM65Tqvma3D
      Stripe-Account:
      - acct_1K5HlrPT5iqVqrJn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3K6dlPPT5iqVqrJn05mFRgxR",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": "ca_6E9gvTfZGEMknxpoHhC8xoeyMit55FAV",
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3K6dlPPT5iqVqrJn0d1YDfhp",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "Longbob Longsen",
            "phone": null
          },
          "calculated_statement_descriptor": "WWW.JOHNDOEWEB.COM",
          "captured": true,
          "created": 1639498923,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 49,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1K6dlPPT5iqVqrJnuw4UKr07",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "ds_transaction_id": null,
              "exp_month": 9,
              "exp_year": 2022,
              "fingerprint": "hfaVNMiXc0dYSiC5",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "moto": null,
              "network": "visa",
              "network_transaction_id": "1075257731158076",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_1K5HlrPT5iqVqrJn/ch_3K6dlPPT5iqVqrJn05mFRgxR/rcpt_KmC9Jqbo4XCoY9X3NgdDvSouvrkqyDr",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_3K6dlPPT5iqVqrJn05mFRgxR/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1K6dlPPT5iqVqrJnuw4UKr07",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2022,
            "fingerprint": "hfaVNMiXc0dYSiC5",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": "Longbob Longsen",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Dec 2021 16:22:04 GMT
recorded_with: VCR 6.0.0
