---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: card[number]=[FILTERED]&card[exp_month]=9&card[exp_year]=2022&card[cvc]=[FILTERED]&card[name]=Longbob+Longsen&amount=100&currency=usd&description=ActiveMerchant+Test+Purchase&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.124.0&metadata[email]=wow%40example.com&destination[account]=acct_1K5HlrPT5iqVqrJn&destination[amount]=120
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 20cc19c9-3c54-4578-865e-6797b74767e4
      Original-Request:
      - req_pZ7hGdtEu26CXI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "`destination[amount]` must be less than or equal to the charge amount",
            "param": "destination[amount]",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 14 Dec 2021 16:23:45 GMT
recorded_with: VCR 6.0.0
