---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts/acct_1K5HlrPT5iqVqrJn/external_accounts
    body:
      encoding: UTF-8
      string: external_account[object]=card&external_account[currency]=usd&external_account[number]=4000056655665556&external_account[exp_month]=9&external_account[exp_year]=2022&external_account[cvc]=123&external_account[name]=Longbob+Longsen
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ababddc4-4f7e-4996-ad9f-acda98177ba1
      Original-Request:
      - req_kv21PwaVuDKJHj
      Stripe-Account:
      - acct_1K5HlrPT5iqVqrJn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1K6dm8PT5iqVqrJn7j5hejgj",
          "object": "card",
          "account": "acct_1K5HlrPT5iqVqrJn",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "available_payout_methods": [
            "standard",
            "instant"
          ],
          "brand": "Visa",
          "country": "US",
          "currency": "usd",
          "cvc_check": "pass",
          "default_for_currency": false,
          "dynamic_last4": null,
          "exp_month": 9,
          "exp_year": 2022,
          "fingerprint": "OdTRtGskBulROtqa",
          "funding": "debit",
          "last4": "5556",
          "metadata": {
          },
          "name": "Longbob Longsen",
          "tokenization_method": null
        }
  recorded_at: Tue, 14 Dec 2021 16:22:49 GMT
recorded_with: VCR 6.0.0
