---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: customer=cus_7s22nNueP2Hjj6&card=ba_17cHxeAWOtgoysogv3NM8CJ1&amount=100&currency=usd&description=ActiveMerchant+Test+Purchase&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.124.0&metadata[email]=wow%40example.com&capture=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 16886d78-09d0-4492-bc5c-717311bd0887
      Original-Request:
      - req_eWpbG5lPVt276Q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "You cannot pass capture=false for this payment type.",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 14 Dec 2021 16:23:40 GMT
recorded_with: VCR 6.0.0
