---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: customer=cus_7s22nNueP2Hjj6&card=ba_17cHxeAWOtgoysogv3NM8CJ1&amount=100&currency=usd&description=ActiveMerchant+Test+Purchase&payment_user_agent=Stripe%2Fv1+ActiveMerchantBindings%2F1.124.0&metadata[email]=wow%40example.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f5962702-a74f-456e-95e9-b9439c6779f9
      Original-Request:
      - req_o3b67G0Qqnswy5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "py_1K6dlUAWOtgoysog3pkqVk3U",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1K6dlUAWOtgoysogLGJ7fctM",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": null,
          "captured": true,
          "created": 1639498928,
          "currency": "usd",
          "customer": "cus_7s22nNueP2Hjj6",
          "description": "ActiveMerchant Test Purchase",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
            "email": "wow@example.com"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "not_assessed",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": false,
          "payment_intent": null,
          "payment_method": null,
          "payment_method_details": {
            "ach_debit": {
              "account_holder_type": "individual",
              "bank_name": "STRIPE TEST BANK",
              "country": "US",
              "fingerprint": "uCkXlMFxqys7GosR",
              "last4": "6789",
              "routing_number": "110000000"
            },
            "type": "ach_debit"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/py_1K6dlUAWOtgoysog3pkqVk3U/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "ba_17cHxeAWOtgoysogv3NM8CJ1",
            "object": "bank_account",
            "account_holder_name": "STRIPE TEST BANK",
            "account_holder_type": "individual",
            "account_type": null,
            "bank_name": "STRIPE TEST BANK",
            "country": "US",
            "currency": "usd",
            "customer": "cus_7s22nNueP2Hjj6",
            "fingerprint": "uCkXlMFxqys7GosR",
            "last4": "6789",
            "metadata": {
            },
            "routing_number": "110000000",
            "status": "verified"
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "pending",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Dec 2021 16:22:08 GMT
recorded_with: VCR 6.0.0
