---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Active+Merchant+Update+Credit+Card&expand[0]=sources&card[number]=[FILTERED]&card[exp_month]=9&card[exp_year]=2022&card[cvc]=[FILTERED]&card[name]=Longbob+Longsen
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f91153c5-8b01-4fa1-8366-bd239d06de15
      Original-Request:
      - req_T1wn9ZuPeAtjmx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_KmCAiyUkG1paMG",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1639498977,
          "currency": null,
          "default_source": "card_1K6dmIAWOtgoysogoamkIVUL",
          "delinquent": false,
          "description": "Active Merchant Update Credit Card",
          "discount": null,
          "email": null,
          "invoice_prefix": "A1D6F20C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1K6dmIAWOtgoysogoamkIVUL",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_KmCAiyUkG1paMG",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 9,
                "exp_year": 2022,
                "fingerprint": "hfaVNMiXc0dYSiC5",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": "Longbob Longsen",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_KmCAiyUkG1paMG/sources"
          },
          "tax_exempt": "none"
        }
  recorded_at: Tue, 14 Dec 2021 16:22:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_KmCAiyUkG1paMG/cards/card_1K6dmIAWOtgoysogoamkIVUL
    body:
      encoding: UTF-8
      string: name=John+Doe&address_line1=123+Main+Street&address_city=Pleasantville&address_state=NY&address_zip=12345&exp_year=2023&exp_month=6
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
     [...]
