---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/nonexistent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such charge: 'nonexistent'",
            "param": "id",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 14 Dec 2021 16:23:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/nonexistent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH_DATA>
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="Stripe"
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Invalid API Key provided: an_unkno******_key",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 14 Dec 2021 16:23:48 GMT
recorded_with: VCR 6.0.0
